body {
    font-family: Arial, sans-serif;
    background-color: hsl(123, 78%, 49%);
    display: flex;
    justify-content: center;
    align-items: space-around;
    height: 180vh;
    margin: 0;
    background:url(https://wc.wallpaperuse.com/wallp/75-756596_s.jpg);
    background-size: cover; 
     background-position: center,;
}

.container {
    background-color: #100f0f;
    color:green;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(202, 12, 12, 0.2);
    padding: 20px;
    text-align: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .song-info h2:hover{

 
    /* border: 2px solid blue;
    border-radius:12px; 
    box-shadow:0 0 3rem rgb(65, 241, 103);
    } */

.album-art img {
    width: 180px;
    height: 180px;
    border-radius: 80%;
    object-fit: cover;
    margin-bottom: 13px;
    
}

audio {
    margin-top: 10px;
}
audio:hover{
    border-radius: 20px;
    transition-duration: 0.6s;
    box-shadow:0 0 3rem rgb(65, 241, 103);
}
